NEXUS_PROXY_UI_NAME=Game++
NEXUS_PROXY_API_NAME=GamePlusPlusDesktop
# Optional: configure this to enable SSO handoff in-app.
# This is the Nexus app id / slug issued after app registration.
NEXUS_APP_ID=
